<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" th:href="@{/css/style.css}" href="">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
</head>
<body>
<h1>Kayıt Ol</h1>

<form action="">
    <div class="form-group">
        <label th:text="#{nameandsurname}" for="name_surname"></label>
        <input type="text" class="form-control" placeholder="Adınız Soyadınız" name="name_surname" id="name_surname"
               autofocus required>
        <button class="btn btn-primary mt-3">Gönder</button>
    </div>
</form>
</body>
</html>